.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3%;
}

.sidebar_nav_btn {
    width: 20%;
    height: 90%;
}

.content_section {
    display: flex;
    flex-direction: column;
}
